<loading-gif [loading]="loading" [updating]="updating"></loading-gif>

<div *ngIf="!loading"  heading="Products">
  <div class="row">
    <div class="col-md-12">
      <h2 class="tab-box-title">{{'recipes.tabs.products' | translate}}</h2>
   </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <search-box (onSearchEntered)="searchProducts($event)" [label]="searchBoxLabel" [inputText]="filterText"></search-box>
    </div>
    <div class="col-md-6">
      <a href="javascript:;" (click)="addProduct()" class="btn default pull-right gold"> <i class="fa fa-plus"></i>  {{'recipes.product.add' | translate}}</a>
    </div>
  </div>
  <div class="table-scrollable">
    <table id="products-list" class="table table-hover">
      <thead>
      <tr>
        <th><div style="display: block; text-align:center;">#</div></th>
        <th></th>
        <th>
          <column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.product.tableHead.name'" [value]="'versions.lang.name'" (onChange)="saveFilters()" ></column-sorter>
        </th>
        <th>
          <column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.product.tableHead.PVP'" [value]="'versions.refPrice'" (onChange)="saveFilters()" ></column-sorter>
        </th>
        <th>
          <column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.product.tableHead.price'" [value]="'versions.refPrice'" (onChange)="saveFilters()" ></column-sorter>
        </th>
        <th>
          {{'recipes.product.tableHead.costOverPricePercentage' | translate}}
        </th>        
        <th>
          <column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.product.tableHead.netWeight'" [value]="'versions.refPrice'" (onChange)="saveFilters()" ></column-sorter>
        </th>
        <th>
          <column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.product.tableHead.cost'" [value]="'versions.compositionCost'" (onChange)="saveFilters()" ></column-sorter>
        </th>
        <th>
          <column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.product.tableHead.family'" [value]="'family.lang.name'" (onChange)="saveFilters()" ></column-sorter>
        </th>
        <th>{{'recipes.product.tableHead.location' | translate}}&nbsp;<i (click)="filterLocationModal.show()" class="fa fa-filter" aria-hidden="true"></i><span *ngIf="costFilterSet" (click)="resetFilterLocation()" class="pointer"><small><i class="fa fa-times" aria-hidden="true"></i></small></span></th>
        <th (click)="toggleActiveState()" class="pointer">
        	<span *ngIf="!filterActive"> <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;{{'articles.ingredients.tableHead.state' | translate}} </span>
        	<span *ngIf="filterActive&&active"> <i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{'articles.ingredients.tableHead.active' | translate}} </span>
        	<span *ngIf="filterActive&&!active"> <i class="fa fa-times" aria-hidden="true"></i>&nbsp;{{'articles.ingredients.tableHead.inactive' | translate}} </span>
        </th>        
        <th> {{'buttonGeneric.actions' | translate}}</th>
      </tr>
      </thead>
      <tbody *ngFor="let product of allProducts;let i=index ">
        <tr [class.text-muted]="!product.active" [class.active]="!product.active">
          <td (click)="viewSuproduct(product._id, product.versions._id)" class="pointer">
            <div style="display: block; text-align:center;">
              {{(currentPage-1)*itemsPerPage + i + 1}}
            </div>
          </td>
          <td (click)="viewProduct(product._id, product.versions._id)" class="pointer">
            <div style="display: block; text-align:center;">
              <img *ngIf="product.versions.gallery" [src]="product.versions.gallery.sizes[0].url" alt="">
              <img *ngIf="!product.versions.gallery" src="../../../assets/img/noImageCircle.png" alt="" >
            </div>
          </td>
          <td (click)="viewProduct(product._id, product.versions._id)" class="pointer">
            {{product.versions.lang.name}}
          </td>
          <td (click)="viewProduct(product._id, product.versions._id)" class="pointer">
            {{(product.versions.refPrice * (1 + salesTax/100))  | currency:'EUR':'symbol':'1.2-2'}}
          </td>
          <td (click)="viewProduct(product._id, product.versions._id)" class="pointer">
            {{product.versions.refPrice  | currency:'EUR':'symbol':'1.2-2'}}
          </td>
          <td (click)="viewProduct(product._id, product.versions._id)" class="pointer">
            <span *ngIf="product.versions.unitCost  && product.versions.refPrice">{{(product.versions.unitCost / product.versions.refPrice)*100 | number:'1.2-2'}} %</span>
            <span *ngIf="!product.versions.unitCost  || !product.versions.refPrice">---</span>
          </td>         
          <td (click)="viewProduct(product._id, product.versions._id)" class="pointer">
            <span *ngIf="product.versions.netWeight">{{product.versions.netWeight | number:'1.3-3'}}/{{product.measurementUnit.lang[0]?.shortName}}</span>
            <span *ngIf="!product.versions.netWeight">---</span>
          </td>
          <td (click)="viewProduct(product._id, product.versions._id)" class="pointer">
            <!-- <span *ngIf="product.versions.unitCost">{{product.versions.unitCost | currency:'EUR':'symbol':'1.2-2'}}
            /{{product.measurementUnit.lang[0]?.shortName}}</span>
            <span *ngIf="!product.versions.unitCost">---</span> -->
						<span *ngIf="product.versions.unitCost">{{ product.versions.unitCost | currency:'EUR':'symbol':'1.2-2'}}
            </span>
            <span *ngIf="!product.versions.unitCost">---</span>

          </td>
          <td (click)="viewProduct(product._id, product.versions._id)" class="pointer">
            <span *ngIf="product.family">
                {{product.family.lang[0]?.name}}
            </span>
            <span *ngIf="!product.family">
                ---
            </span>
          </td>
          <td>
            <a href="javascript:;" (click)="selectProductToEdit(product); viewLocationModal.show()" class="btn gold btn-sm btn-outline table-row-button" tooltip="{{product.locationList}}"> <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{'recipes.product.form.location' | translate}}</a>
          </td>
          <td (click)="viewProduct(product._id, product.versions._id)" class="pointer">
            <span *ngIf="product.active">
              <i class="fa fa-check cd-gold" aria-hidden="true"></i>
            </span>
            <span *ngIf="!product.active">
              <i class="fa fa-times cd-gold" aria-hidden="true"></i>
            </span>
          </td>
          <td>
            <a href="javascript:;" (click)="editProduct(product._id, product.versions._id)" class="btn gold btn-sm btn-outline table-row-button">
              <i class="fa fa-pencil"></i> {{'buttonGeneric.edit' | translate}} </a>
            <a href="javascript:;" (click)="printProduct(product)" class="btn gold btn-sm btn-outline table-row-button">
              <i class="fa fa-print"></i> {{'buttonGeneric.print' | translate}} </a>
            <a href="javascript:;" (click)="selectedElementToDelete(product); confirmDeleteModal.show();" class="btn gold btn-sm btn-outline table-row-button">
              <i class="fa fa-trash"></i> {{'buttonGeneric.delete' | translate}} </a>
            <a href="javascript:;" (click)="versionsProduct(product._id)" class="btn gold btn-sm btn-outline table-row-button">
              <i class="fa fa-history" aria-hidden="true"></i> {{'buttonGeneric.versions' | translate}} </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-6">
      <items-per-page [itemOptions]="[5,10,25,50,100]" [defaultOption]="itemsPerPage" (onItemSelected)="updateItemsPerPage($event)"></items-per-page>
      <span class="pagination-separator">|</span>
      <pagination-snippet [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" [totalItems]="totalItems"></pagination-snippet>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
        <pagination *ngIf="itemsPerPage && currentPage && totalItems" class="cd-pagination" [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage" [previousText]="'<'" [firstText]="'<<'" [lastText]="'>>'" [nextText]="'>'" [maxSize]="10" style="display: inline-block;" [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageHasChanged($event)" (numPages)="numPages = $event"></pagination>
      </div>
    </div>
  </div>
</div>
<simple-notifications [options]="notificationOptions"></simple-notifications>
<product-print [printEvent]="print" [hidden]="true"></product-print>


<!--MODALS-->

<!--confirm delete -->
<div bsModal #confirmDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="confirmDeleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{'articles.ingredients.form.confirmDelete' | translate}}</h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="deleteProduct()" class="form-horizontal" #deleteIngredientForm="ngForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-body">
                  {{'articles.ingredients.form.confirmDeleteQuestion' | translate}}
              </div>
              <div class="form-actions">
                <div class="row">
                  <div class="col-md-offset-5 col-md-7">
                    <button type="submit" (click)="confirmDeleteModal.hide()" class="btn green">{{'buttonGeneric.delete' | translate}}
                    </button>
                    <button type="button" (click)="confirmDeleteModal.hide();" class="btn default">{{'buttonGeneric.cancel' | translate}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--location filter -->
<div bsModal #filterLocationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="cancelSelection(); filterLocationModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{'recipes.product.form.setLocationFilter' | translate}}</h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="filterListByLocation()" class="form-horizontal" #locationSelectorForm="ngForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-body">
                  <label for="location" class="control-label">{{'recipes.product.form.location' | translate}} <span class="required"> * </span></label>
                  <location-filter [savedLocations]="savedLocations" [expandedTree]="true" [refresh]="refresh" (onLocationChecked)="updateFilterLocations($event)"></location-filter>
              </div>
              <div class="form-actions" style="margin-top:20px;">
                <div class="row">
                  <div class="col-md-offset-5 col-md-7">
                    <button type="submit" (click)="filterLocationModal.hide()" class="btn green"
                    [disabled]="!locationSelectorForm.form.valid">{{'recipes.product.form.saveLocationFilter' | translate}}
                  </button>
                  <button type="button" (click)="cancelSelection(); filterLocationModal.hide();" class="btn default">{{'buttonGeneric.cancel' |
                    translate}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<!--location view -->
<div bsModal #viewLocationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="viewLocationModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{'recipes.product.form.viewLocations' | translate}}</h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="viewLocation()" class="form-horizontal" #locationViewForm="ngForm" *ngIf="product">
          <div class="row">
            <div class="col-md-12">
              <div class="form-body">
                  <label for="location" class="control-label">{{'recipes.product.form.location' | translate}} <span class="required"> * </span></label>
                  <location-view [savedLocations]="product.location"></location-view>
              </div>
              <div class="form-actions" style="margin-top:20px;">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>




