<loading-gif [loading]="loading" [updating]="updating"></loading-gif>

<div *ngIf="!loading"  heading="Kitchens">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="tab-box-title">{{'library.tabs.spaces' | translate}}</h2>
   </div>
  </div>
  <div class="row"> 
    <div class="col-md-10 col-lg-10 col-sm-8 col-xs-8">
      <search-box (onSearchEntered)="searchKitchens($event)" [label]="searchBoxLabel"></search-box>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-4 col-xs-4">
      <a href="javascript:;" (click)="addKitchenClick(); addClick(); KitchenModal.show()" class="btn default pull-right gold"> <i class="fa fa-plus"></i>  {{'buttonGeneric.add' | translate}}</a>
    </div>
  </div>
  <div class="table-scrollable">
    <table id="kitchen-table" class="table table-hover">
      <thead>
      <tr>
        <th></th>
        <th>
          <column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'library.kitchen.tableHead.name'" [value]="'lang.name'" (onChange)="getKitchens()" ></column-sorter>
        </th>
        <th> {{'buttonGeneric.actions' | translate}}</th>
      </tr>
      </thead>
      <tbody *ngFor="let kitchen of kitchens">
      <tr>
        <td> 
          <span *ngIf="kitchen.workRooms?.length > 0">
            <a href="javascript:;" *ngIf="kitchen.expanded" (click)="kitchen.expanded = false" class="btn btn-xs default" style="color: #a0a127;">-
            </a>      
            <a href="javascript:;" *ngIf="!kitchen.expanded" (click)="kitchen.expanded = true" class="btn btn-xs default" style="color: #a0a127;">+
            </a> 
          </span>
        </td>
        <td (click)="selectKitchenToEdit(kitchen); viewClick(); KitchenModal.show()" class="pointer"> {{kitchen.lang.name}}</td>
        <td>
          <!-- <a href="javascript:;" (click)="selectKitchenToEdit(kitchen); viewKitchenModal.show()"
             class="btn gold btn-sm btn-outline sbold table-row-button">
             <i class="fa fa-eye" aria-hidden="true"></i> {{'buttonGeneric.view' | translate}} </a> -->
          <a href="javascript:;" (click)="selectKitchenToEdit(kitchen); editClick(); KitchenModal.show()"
             class="btn gold btn-sm btn-outline table-row-button">
            <i class="fa fa-pencil"></i> {{'buttonGeneric.edit' | translate}} </a>
          <a href="javascript:;" (click)="deleteKitchen(kitchen._id)"
             class="btn gold btn-sm btn-outline table-row-button">
            <i class="fa fa-trash"></i> {{'buttonGeneric.delete' | translate}} </a>
          <a href="javascript:;" (click)="selectKitchenToEdit(kitchen); addSubClick(); addWorkRoomClick(); workRoomModal.show()"
             class="btn gold btn-sm btn-outline table-row-button">
            <i class="fa fa-plus"></i> {{'library.kitchen.addWR' | translate}} </a>
        </td>
      </tr>
      <tr [class.hidden]="!kitchen.expanded" *ngFor="let workRoom of kitchen.workRooms; let i = index">
        <td></td>
        <td (click)="selectWorkRoomToEdit(kitchen, workRoom, i); viewWRClick(); workRoomModal.show()" class="pointer" style="padding-left: 40px;"> <i class="fa fa-caret-right" aria-hidden="true"></i> {{workRoom.lang[0]?.name}}</td>
        <td>
          <!-- <a href="javascript:;" (click)="selectWorkRoomToEdit(kitchen, workRoom, i); viewWRKitchenModal.show()"
             class="btn gold btn-sm btn-outline table-row-button">
             <i class="fa fa-eye" aria-hidden="true"></i> {{'buttonGeneric.view' | translate}} </a> -->
          <a href="javascript:;" (click)="selectWorkRoomToEdit(kitchen, workRoom, i); editWRClick(); workRoomModal.show()"
             class="btn gold btn-sm btn-outline table-row-button">
            <i class="fa fa-pencil"></i> {{'buttonGeneric.edit' | translate}} </a>
          <a href="javascript:;" (click)="deleteWorkRoom(workRoom._id)"
             class="btn gold btn-sm btn-outline table-row-button">
            <i class="fa fa-trash"></i> {{'buttonGeneric.delete' | translate}} </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-6">
        <items-per-page [itemOptions]="[5,10,25,50,100]" [defaultOption]="10" (onItemSelected)="updateItemsPerPage($event)"> </items-per-page><span class="pagination-separator">|</span> <pagination-snippet [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" [totalItems]="totalItems"></pagination-snippet>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
        <pagination class="cd-pagination" [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage" [previousText]="'<'" [firstText]="'<<'" [lastText]="'>>'" [nextText]="'>'" [maxSize]="10" style="display: inline-block;" [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageHasChanged($event)" (numPages)="numPages = $event"></pagination>
      </div>
    </div>
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>

<!--MODALS-->



<!-- Kitchen -->

<div bsModal #KitchenModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="KitchenModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         <h4 *ngIf="status=='edit'" class="modal-title">{{'library.kitchen.edit' | translate}}</h4>
         <h4 *ngIf="status=='view'" class="modal-title">{{'library.kitchen.view' | translate}}</h4>
         <h4 *ngIf="status=='new'" class="modal-title">{{'library.kitchen.new' | translate}}</h4>
      </div>
      <div class="modal-body">
        <lang-tab *ngIf="status!='view'" (langsObj)="kitchensLangObjRefreshed($event)" [fieldsObj]="kitchenTmp"
                  [forceRefresh]="forceKitchenRefresh"> </lang-tab>

        <form (ngSubmit)="saveKitchen()" class="form-horizontal" #saveKitchenForm="ngForm" *ngIf="kitchen">
          <div class="form-body">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group" *ngIf="status=='edit' || status == 'view'">
                  <label class="col-md-4 control-label">{{'library.kitchen.tableHead.referenceNumber' | translate}}</label>
                  <div class="col-md-7">
                    <input type="number" class="form-control" [(ngModel)]="kitchen.referenceNumber" name="referenceNumber" placeholder="" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label">{{'library.kitchen.tableHead.name' | translate}} <span class="required"> * </span></label>
                  <div class="col-md-7">
                    <input type="text" class="form-control" [(ngModel)]="kitchenTmp.name" name="name" placeholder="" required [disabled]="status=='view'">
                  </div>
                </div>          
                <div class="form-group">
                  <label class="col-md-4 control-label">{{'library.kitchen.tableHead.desc' | translate}}</label>
                  <div class="col-md-8">
                    <textarea class="form-control" [(ngModel)]="kitchenTmp.description" name="description" cols="30" rows="10" [disabled]="status=='view'"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="location" class="col-md-4 control-label">{{'recipes.subproduct.form.location' | translate}} <span class="required"> * </span></label>
                  <div class="col-md-8">
                  	<location-selector [fold]="fold" [savedLocations]="kitchen.location" (onLocationChecked)="updateSelectedLocations($event)" [editMode]="status=='edit' || status=='new'"></location-selector>
                  </div>
               </div>                
              </div>
            </div>
          </div>          
          <div *ngIf="status!='view'" class="form-actions">
            <div class="row">
              <div class="col-md-offset-3 col-md-9">
              <button type="submit" (click)="KitchenModal.hide()" class="btn green"
                        [disabled]="!saveKitchenForm.form.valid || !kitchen.location.length">{{'buttonGeneric.save' | translate}}
                </button>              
                <button type="button" (click)="KitchenModal.hide()" class="btn default">{{'buttonGeneric.cancel'
                  |
                  translate}}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--Subkitchen -->
<div bsModal #workRoomModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="workRoomModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 *ngIf="status=='viewWR'" class="modal-title">{{'library.workRoom.view' | translate}}</h4>
        <h4 *ngIf="status=='newWR'" class="modal-title">{{'library.workRoom.new' | translate}}</h4>
        <h4 *ngIf="status=='editWR'" class="modal-title">{{'library.workRoom.edit' | translate}}</h4>
      </div>
      <div class="modal-body">
        <lang-tab *ngIf="status!='viewWR'" (langsObj)="workRoomsLangObjRefreshed($event)" [fieldsObj]="workRoomTmp"
                  [forceRefresh]="forceWorkRoomRefresh"> </lang-tab>
        <form (ngSubmit)="saveWorkRoom()" class="form-horizontal" #WorkRoomForm="ngForm">
          <div class="form-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group" *ngIf="status=='editWR' || status == 'viewWR'">
                  <label class="col-md-4 control-label">{{'library.workRoom.tableHead.referenceNumber' | translate}}</label>
                  <div class="col-md-7">
                    <input type="number" class="form-control" [(ngModel)]="workRoom.referenceNumber" name="referenceNumber" placeholder="" disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label">{{'library.workRoom.tableHead.name' | translate}} <span class="required"> * </span></label>
                  <div class="col-md-7">
                    <input type="text" class="form-control" [(ngModel)]="workRoomTmp.name" name="name" placeholder="" required [disabled]="status=='viewWR'">
                  </div>
                </div>          
                <div class="form-group">
                  <label class="col-md-4 control-label">{{'library.workRoom.tableHead.desc' | translate}}</label>
                  <div class="col-md-8">
                    <textarea class="form-control" [(ngModel)]="workRoomTmp.description" name="description" cols="30" rows="10" [disabled]="status=='viewWR'"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="status!='viewWR'"class="form-actions">
            <div class="row">
              <div class="col-md-offset-3 col-md-9">
                <button type="submit" (click)="workRoomModal.hide()" class="btn green"
                        [disabled]="!WorkRoomForm.form.valid">{{'buttonGeneric.save' | translate}}
                </button>
                <button type="button" (click)="workRoomModal.hide()" class="btn default">{{'buttonGeneric.cancel' |
                  translate}}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


  <!--MODALS-->

  <!--add -->
  <div bsModal #print="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="print.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{'recipes.subproduct.downloadFile' | translate}}</h4>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="downloadFile()" class="form-horizontal" #printForm="ngForm">
            <div class="row">
              <div class="col-md-7 col-md-offset-1">
                <div class="form-body">

                  <div class="form-group">

                    <div class="col-md-12">

                      <label class="col-md-5 control-label">{{'recipes.subproduct.template' | translate}}<span class="required"> * </span></label>
                      
                      <div class="col-md-7">
                        <select class="form-control" (change)="templateSelected($event.target.value)" name="libraryType" required="">
                          <option *ngFor="let template of templateList; let i=index;" [value]="i">{{ template.lang[0]?.name | uppercase}} </option>
                        </select> 
                      </div>

                    </div>
                    
                  </div>

                </div>
                <div class="form-actions" style="margin-top: 10px !important;">
                  <div class="row">
                    <div class="col-md-offset-7 col-md-5">
                    <button type="button" (click)="print.hide();" class="btn default">{{'buttonGeneric.cancel' |
                      translate}}
                    </button>                     
                    <button type="submit" (click)="print.hide()" class="btn green"
                      [disabled]="!printForm.form.valid || this.templateId==null ">{{'buttonGeneric.download' | translate}}
                    </button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>