<div heading="menu versions">
  <div class="row">
    <div class="col-md-12">
      <h2 class="tab-box-title">{{'gastro.tabs.menuVersions' | translate}}</h2>
   </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <search-box (onSearchEntered)="searchMenus($event)" [label]="searchBoxLabel"></search-box>
    </div>
    <div class="col-md-6">
      <!-- <a href="javascript:;" (click)="addSubproduct()" class="btn default pull-right gold"> <i class="fa fa-plus"></i>  {{'recipes.subproduct.add' | translate}}</a> -->
    </div>
  </div>
  <div class="table-scrollable">
    <table id="menuversions-table" class="table table-hover">
      <thead>
      <tr>
        <th><div style="display: block; text-align:center;">#</div></th>
        <th> {{'gastro.menu.tableHead.name' | translate}} <column-sorter (onSorterClicked)="sortColumn($event,'name')"></column-sorter></th>
        <th>{{'gastro.menu.tableHead.updated' | translate}}</th>
        <th>{{'gastro.menu.tableHead.price' | translate}} </th>
        <th>{{'gastro.menu.tableHead.type' | translate}} </th>
        <th>{{'gastro.menu.tableHead.season' | translate}} </th>
        <th>{{'gastro.menu.tableHead.location' | translate}} </th>
        <th>{{'gastro.menu.tableHead.active' | translate}} </th>
        <th> {{'buttonGeneric.actions' | translate}}</th>
      </tr>
      </thead>
      <tbody *ngFor="let menuVersion of menuVersions;let i=index">
        <tr [class.text-muted]="!menuVersion.versions.active" [class.active]="!menuVersion.versions.active">
          <td (click)="viewMenuVersion(menuVersion._id, menuVersion.versions._id)" class="pointer">
            <div style="display: block; text-align:center;">
              {{(currentPage-1)*itemsPerPage + i + 1}}
            </div>
          </td>
          <td (click)="viewMenuVersion(menuVersion._id, menuVersion.versions._id)" class="pointer">
            {{menuVersion.versions.lang.name}}
          </td>
          <td (click)="viewMenuVersion(menuVersion._id, menuVersion.versions._id)" class="pointer">{{menuVersion.versions.updatedAt | date: 'medium'}}<br>{{menuVersion.versions.last_account.user.firstName + ' ' + menuVersion.versions.last_account.user.lastName}}</td>
          <td (click)="viewMenuVersion(menuVersion._id, menuVersion.versions._id)" class="pointer">
            <span *ngIf="menuVersion.versions.price">{{menuVersion.versions.price | currency:'EUR':'symbol':'1.2-2'}}</span>
            <span *ngIf="!menuVersion.versions.price">---</span>
          </td>
          <td (click)="viewMenuVersion(menuVersion._id, menuVersion.versions._id)" class="pointer">
            <span *ngIf="menuVersion.versions.type.lang[0]?.name">{{menuVersion.versions.type.lang[0]?.name}}</span>
            <span *ngIf="!menuVersion.versions.type.lang[0]?.name">---</span>
          </td>
          <td (click)="viewMenuVersion(menuVersion._id, menuVersion.versions._id)" class="pointer">
            <span *ngIf="menuVersion.versions.season.lang[0]?.name">{{menuVersion.versions.season.lang[0]?.name}}</span>
            <span *ngIf="!menuVersion.versions.season.lang[0]?.name">---</span>
          </td>
          <td (click)="viewMenuVersion(menuVersion._id, menuVersion.versions._id)" class="pointer">
            Locations
          </td>
          <td (click)="viewMenuVersion(menuVersion._id, menuVersion.versions._id)" class="pointer">
            <span *ngIf="menuVersion.versions.active">
              <i class="fa fa-check cd-gold" aria-hidden="true"></i>
            </span>
            <span *ngIf="!menuVersion.versions.active">
              <i class="fa fa-times cd-gold" aria-hidden="true"></i>
            </span>
          </td>
          <td>
            <a href="javascript:;" (click)="editMenuVersion(menuVersion._id, menuVersion.versions._id)" class="btn gold btn-sm btn-outline table-row-button">
              <i class="fa fa-pencil"></i> {{'buttonGeneric.edit' | translate}} </a>
            <a *ngIf="!menuVersion.versions.active" href="javascript:;" (click)="deleteMenuVersion(menuVersion._id, menuVersion.versions._id)" class="btn gold btn-sm btn-outline table-row-button">
              <i class="fa fa-trash"></i> {{'buttonGeneric.delete' | translate}} </a>
            <a *ngIf="!menuVersion.versions.active" href="javascript:;" (click)="changeToActive(menuVersion._id, menuVersion.versions._id)" class="btn gold btn-sm btn-outline table-row-button">
              <i class="fa fa-check cd-gold" aria-hidden="true"></i> {{'buttonGeneric.active' | translate}} </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-6">
      <items-per-page [itemOptions]="[5,10,25,50,100]" [defaultOption]="10" (onItemSelected)="updateItemsPerPage($event)"></items-per-page>
      <span class="pagination-separator">|</span>
      <pagination-snippet [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" [totalItems]="totalItems"></pagination-snippet>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
        <pagination class="cd-pagination" [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage" [previousText]="'<'" [firstText]="'<<'" [lastText]="'>>'" [nextText]="'>'" [maxSize]=10 style="display: inline-block;" [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageHasChanged($event)" (numPages)="numPages = $event"></pagination>
      </div>
    </div>
  </div>
</div>
 <simple-notifications [options]="notificationOptions"></simple-notifications>