<loading-gif [loading]="loading" [type]="'composition'"></loading-gif>
<div *ngIf="!loading" heading="Composition">
	<div class="row">
		<div class="col-md-12">
			<h3 class="tab-box-title">{{'recipes.subproduct.composition.title' | translate}}</h3>
		</div>
	</div>
	<div *ngIf="subproduct" class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<form class="horizontal-form cd-form">
						<div class="form-body">
							<div class="row">
								<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
									<div class="form-group">
										<label class="control-label">{{'recipes.subproduct.composition.netWeight' | translate}}:</label>
										<div class="input-group">
											<input id="netWeight" type="number" step="0.001" min="0" class="form-control" [(ngModel)]="subproduct.netWeight" name="netWeight" [disabled]="mode=='view'">
											<span *ngIf="subproduct.measurementUnit" class="input-group-addon" id="addon1">{{subproduct.measurementUnit.lang[0]?.shortName}}</span>
											<span *ngIf="!subproduct.measurementUnit" class="input-group-addon" id="addon2">-</span>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
									<div class="form-group">
										<label class="control-label">{{'recipes.subproduct.composition.calculatedCost' | translate}}/{{subproduct.measurementUnit.lang[0]?.shortName}}:</label>
										<span *ngIf="subproduct.netWeight" class="form-control disabled"> {{subproduct.totalCost / subproduct.netWeight | currency:'EUR':'symbol':'1.2-2'}}</span>
										<span *ngIf="!subproduct.netWeight" class="form-control disabled">---</span>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<search-box (onSearchEntered)="searchSubproducts($event)" [label]="searchBoxLabel" ></search-box>
		</div>
		<div class="col-md-6">
			<a *ngIf="mode!='view'" href="javascript:;" (click)=" addClick(); cleanAndResetFields(); compositionModal.show()" class="btn default pull-right gold" [class.hide-view-mode]="mode == 'view'"> <i class="fa fa-plus"></i>  {{'buttonGeneric.add' | translate}}</a>
		</div>
	</div>
	<div class="table-scrollable">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>
          	<column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.subproduct.composition.tableHead.element'" [value]="'name'" ></column-sorter>
          </th>
					<th>
          	<column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.subproduct.composition.tableHead.kind'" [value]="'element.kind'" ></column-sorter>
          </th>
					<th>
          	<column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.subproduct.composition.tableHead.grossWeight'" [value]="'grossWeight.'" ></column-sorter>
          </th>
					<th>
          	<column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.subproduct.composition.tableHead.grossWeigthPercentage'" [value]="'grossWeight'" ></column-sorter>
          </th>
					<th>
          	<column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.subproduct.composition.tableHead.wastePercentage'" [value]="'wastePercentage'" ></column-sorter>
          </th>
					<th>
          	<column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.subproduct.composition.tableHead.netWeight'" [value]="'netWeight'" ></column-sorter>
          </th>
					<th>
          	<column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.subproduct.composition.tableHead.netWeightPercentage'" [value]="'netWeight.'" ></column-sorter>
          </th>
					<th>
          	<column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.subproduct.composition.tableHead.elementUnitCost'" [value]="'unitCost'" ></column-sorter>
          </th>
					<th>
          	<column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.subproduct.composition.tableHead.elementTotalCost'" [value]="'calculatedCost'" ></column-sorter>
          </th>
         	<th>
          	<column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.subproduct.composition.tableHead.costPercentage'" [value]="'calculatedCost.'" ></column-sorter>
          </th>
					<th>
          	<column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'recipes.subproduct.composition.tableHead.oneGrossValue'" [value]="'.grossWeight.'" ></column-sorter>
          </th>
					<th> {{'recipes.subproduct.composition.tableHead.oneNetValue' | translate}}</th>
					<th style="text-align: center;"> {{'buttonGeneric.actions' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let composition of subproduct.composition | compositionFilterTextDirty:filterText  |  compositionSort:sortField:sortOrder; let i = index;">					
					<td (click)="viewClick(); selectElementToEdit(composition); compositionModal.show()" class="pointer">
					{{composition.name}}
					 <span class="label label-sm label-cd label-mini pull-right" *ngIf="!composition.active"> {{'recipes.subproduct.nonActive' | translate }} </span>
					 <span *ngIf="composition.locationWarning" class="label label-sm label-cd label-mini pull-right"> {{'messageGeneric.locationWarning' | translate }} </span>
					  <span *ngIf="composition.itemNull" class="label label-sm label-cd label-mini pull-right"> {{'messageGeneric.itemNull' | translate }} </span>
					</td>
					<td (click)=" viewClick(); selectElementToEdit(composition); compositionModal.show()" class="pointer">
					{{'recipes.subproduct.composition.' + composition.element.kind | translate}}</td>
					<td (click)=" viewClick(); selectElementToEdit(composition, i); compositionModal.show()" class="pointer">

					{{composition.grossWeight | number:'1.3-3'}} {{composition.measuringUnitShortName}} </td>
					<td (click)=" viewClick(); selectElementToEdit(composition); compositionModal.show()" class="pointer">
					{{(composition.grossWeight / totalGrossWeight)*100 | number:'1.2-2'}}%
					</td>
					<td (click)=" viewClick(); selectElementToEdit(composition); compositionModal.show()" class="pointer">
					{{composition.wastePercentage | number:'1.2-2'}}</td>
					<td (click)=" viewClick(); selectElementToEdit(composition); compositionModal.show()" class="pointer">
					{{composition.netWeight | number:'1.3-3'}} {{composition.baseUnitShortName}}
					</td>
					<td (click)=" viewClick(); selectElementToEdit(composition); compositionModal.show()" class="pointer">
					{{ (composition.netWeight / totalNetWeight)*100 | number:'1.2-2'}}%</td>
					<td (click)=" viewClick(); selectElementToEdit(composition); compositionModal.show()" class="pointer">
					{{composition.unitCost | currency:'EUR':'symbol':'1.2-2'}}/{{composition.baseUnitShortName}}</td>
					<td (click)=" viewClick(); selectElementToEdit(composition); compositionModal.show()" class="pointer">
					{{composition.calculatedCost | currency:'EUR':'symbol':'1.2-2'}}</td>
			    <td (click)=" viewClick(); selectElementToEdit(composition,i); compositionModal.show()" class="pointer">
			    {{composition.calculatedCost/(subproduct.totalCost/100) | number:'1.2-2'}}%</td>
					<td (click)=" viewClick(); selectElementToEdit(composition); compositionModal.show()" class="pointer"><span *ngIf="subproduct.netWeight">{{composition.grossWeight/subproduct.netWeight | number:'1.3-3'}}</span><span *ngIf="!subproduct.netWeight">---</span></td>
					<td (click)=" viewClick(); selectElementToEdit(composition); compositionModal.show()" class="pointer"><span *ngIf="subproduct.netWeight">{{composition.netWeight/subproduct.netWeight | number:'1.3-3'}}</span><span *ngIf="!subproduct.netWeight">---</span></td>
					<td class="do-not-print">
						<span *ngIf="composition.location_unavailable" class="label label-sm label-cd label-mini pull-right">{{'recipes.subproduct.composition.tableHead.outOfLocation' | translate}}</span>
						  <a *ngIf="!composition.location_unavailable && mode!='view'" href="javascript:;" (click)="editClick(); selectElementToEdit(composition); compositionModal.show()"
							 class="btn gold btn-sm btn-outline table-row-button">
									  <i class="fa fa-pencil"></i> {{'buttonGeneric.edit' | translate}} </a>
						  <a *ngIf="mode=='edit'" href="javascript:;" (click)=" deleteSubproductElement(composition)"
							 class="btn gold btn-sm btn-outline table-row-button">
									  <i class="fa fa-trash"></i> {{'buttonGeneric.delete' | translate}} </a>
							<span *ngIf="!composition.location_unavailable">
						  <a href="javascript:;" *ngIf="composition.element.kind =='ingredient'" (click)="viewIngredient(composition,i)"
							 class="btn gold btn-sm btn-outline table-row-button">
							 <i class="fa fa-shopping-basket"></i>{{'buttonGeneric.view' | translate}}</a>
						  <a href="javascript:;" *ngIf="composition.element.kind =='subproduct'" (click)="viewSubproductVersion(composition,i)"
							 class="btn gold btn-sm btn-outline table-row-button">
							 <i class="fa fa-shopping-basket"></i>{{'buttonGeneric.view' | translate}}</a></span>
					</td>
				</tr>
				<tr *ngIf="totalElements>0" class="active sbold">
					<td></td>
					<td></td>
					<td>{{totalGrossWeight | number:'1.2-2'}}</td>
					<td>{{100 | number:'1.2-2'}}%</td>
					<td></td>
					<td>{{totalNetWeight | number:'1.2-2'}}</td>
					<td>{{100 | number:'1.2-2'}}%</td>
					<td></td>
					<td>{{subproduct.totalCost | currency:'EUR':'symbol':'1.2-2'}}</td>
					<td>{{ 100 | number: '1.2-2'}}%</td>
					<td></td>
          			<td></td>
					<td></td>
				</tr>
        <!-- <tr *ngIf="totalItems>0" class="active sbold">
          <td></td>
          <td><div style="display:block; text-align:right;">{{'recipes.subproducts.composition.waste' | translate}}:</div></td>
          <td><span *ngIf="waste">{{waste}}</span></td>
          <td>{{totalNetPercentage}}</td>
          <td>{{totalCost | currency:'EUR':'symbol':'1.2-2'}}</td>
          <td></td>
      </tr> -->
  </tbody>
</table>
</div>
  <!-- <div class="row">
    <div class="col-md-6">
      <items-per-page [itemOptions]="[5,10,25,50,100]" [defaultOption]="10"
                      (onItemSelected)="updateItemsPerPage($event)"></items-per-page>
      <span class="pagination-separator">|</span>
      <pagination-snippet [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
                          [totalItems]="totalItems"></pagination-snippet>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
        <pagination class="cd-pagination" [totalItems]="totalItems" [(ngModel)]="currentPage"
                    [itemsPerPage]="itemsPerPage" [previousText]="'<'" [firstText]="'<<'" [lastText]="'>>'"
                    [nextText]="'>'" style="display: inline-block;" [boundaryLinks]="true" [rotate]="false"
                    (pageChanged)="pageHasChanged($event)" (numPages)="numPages = $event"></pagination>
      </div>
    </div>
</div> -->
</div>

<!--MODALS-->

<div bsModal #compositionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="compositionModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 *ngIf="status=='new'" class="modal-title">{{'recipes.subproduct.composition.new' | translate}}</h4>
        <h4 *ngIf="status=='edit'" class="modal-title">{{'recipes.subproduct.composition.edit' | translate}}</h4>
        <h4 *ngIf="status=='view'" class="modal-title">{{'recipes.subproduct.composition.view' | translate}}</h4>				
			</div>
			<div class="modal-body">
				<form (ngSubmit)="saveSubproductElement()" class="form-horizontal" #compositionForm="ngForm">
					<div class="row">
						<div class="col-md-8">
							<div class="col-md-12">
								<div class="form-body">
									<div class="form-group">
	          				<label for="category" class="col-md-4 control-label">{{'provider.article.form.category' | translate}} <span class="required"> * </span></label>
	          				<p-selectButton [options]="subproductCategories" class="col-md-8" [(ngModel)]="subproductElement.element.kind" name="kind" [disabled]="mode=='view' || status =='view'" (onChange)="onChangeCategory($event)"></p-selectButton> 
	        				</div>
				        	<div class="form-group">
				            <label *ngIf="subproductElement.element.kind=='ingredient'" for="category" class="col-md-4 control-label">{{'recipes.subproduct.form.ingredient' | translate}} <span class="required"> * </span></label>

				            <label *ngIf="subproductElement.element.kind=='subproduct'" for="category" class="col-md-4 control-label">{{'recipes.subproduct.form.subproduct' | translate}} <span class="required"> * </span></label>
				            
				              <ng-select class="cd-select col-md-8 " [allowClear]="true"                    
				                (selected)="subproductElementSelected($event)" 
				                (typed)="elementSearchChanged($event)"
				                [active]="activeElement"
				                [disabled]="mode =='view' || status =='view'" 
				 								(removed)="subproductElementRemoved($event)" #selectElement>
				              </ng-select>	
				          </div>			          
									<div *ngIf="!equivalenceUnitSelected" class="form-group">
										<label class="col-md-4 control-label">{{'recipes.subproduct.composition.tableHead.grossWeightArticle' | translate}}<span class="required"> * </span></label>
										<div class="col-md-8">
											<input type="number" class="form-control" [(ngModel)]="subproductElement.grossWeight" name="grossWeight" placeholder="" step="any" min="0" required [disabled]="status=='view'">
										</div>
									</div>
									<div *ngIf="equivalenceUnitSelected" class="form-group">
										<label class="col-md-4 control-label">{{'recipes.subproduct.composition.tableHead.grossWeightArticle' | translate}}<span class="required"> * </span></label>
										<div class="col-md-8">
											<input *ngIf="subproductElement.quantity" type="number" class="form-control" value="{{subproductElement.quantity*subproductElement.equivalenceUnit.quantity}}" name="grossWeightEq" placeholder="" step="any" min="0" readonly [disabled]="status=='view'">
											<input *ngIf="!subproductElement.quantity" type="number" class="form-control" value="" name="grossWeightEq" placeholder="" step="any" min="0" readonly [disabled]="status=='view'">
										</div>
									</div>
									<div *ngIf="equivalenceUnitSelected" class="form-group">
										<label class="col-md-4 control-label">{{'recipes.subproduct.composition.tableHead.quantity' | translate}}<span class="required"> * </span></label>
										<div class="col-md-8">
											<input type="number" class="form-control" [(ngModel)]="subproductElement.quantity" name="quantity" placeholder="" step="any" min="0" required [disabled]="status=='view'">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">{{'recipes.subproduct.composition.tableHead.measuringUnit' | translate}}<span class="required"> * </span></label>
										<div class="col-md-8">
											<select *ngIf="elementMeasUnits" class="form-control" (change)="subproductMeasUnitSelected($event.target.value, true)" name="element" [disabled]="status=='view'">
												<option *ngFor="let measUnit of elementMeasUnits; let i = index" [value]="i" [selected]="measUnit._id == subproductElement.measuringUnit">{{measUnit.name | uppercase}} </option>
											</select>
											<select *ngIf="!elementMeasUnits" class="form-control" name="element" [disabled]="status=='view'">
												<option></option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">{{'recipes.subproduct.composition.tableHead.wastePercentage' | translate}}<span class="required"> * </span></label>
										<div class="col-md-8">
											<input type="number" class="form-control" [(ngModel)]="subproductElement.wastePercentage" name="wastePercentage" placeholder="" step="any" required [disabled]="status=='view'">
										</div>
									</div>
								</div>							
								<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-5 col-md-8">
											<button *ngIf="status=='new'" type="submit" (click)="compositionModal.hide()" class="btn green"
											[disabled]="!compositionForm.form.valid || !subproductElement.element.item || (!subproductElement.measuringUnit && !equivalenceUnitSelected)">{{'buttonGeneric.save' | translate}}
										</button>
										<button *ngIf="status=='edit'" type="submit" (click)="compositionModal.hide()" class="btn green"
											[disabled]="!compositionForm.form.valid || !subproductElement.element.item || (!subproductElement.measuringUnit && !equivalenceUnitSelected)">{{'buttonGeneric.save' | translate}}
										</button>
										<button type="button" (click)="cleanAndResetFields(); compositionModal.hide();" class="btn default">{{'buttonGeneric.cancel' |
											translate}}
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="col-md-4">
						<div class="form-group" style="margin-top: 15px;">
							<div class="col-md-12" *ngIf="(subproductElement.element.kind == 'ingredient') && (articleProviders && articleProviders.length)">			
							  <label class="control-label">{{'recipes.composition.articleProviders' | translate}}</label>
						    <div class="selector grey-backround viewProviders" >
							     <div *ngFor="let articleProvider of articleProviders" style="margin: 5px; padding-left: 5px">
						  		 <span *ngIf="articleProvider.description.length > 0">
						  		 		<span *ngIf="articleProvider.expanded" (click)="articleProvider.expanded = false" class="">
						  		 			<i class="fa fa-minus" aria-hidden="true">  </i>
						  		 		</span>
						  				<span *ngIf="!articleProvider.expanded" (click)="articleProvider.expanded = true" class="">
						  					<i class="fa fa-plus" aria-hidden="true">  </i>	
						  				</span>
						  			</span>
						        <span> 
						        	{{articleProvider.comercialName}}
						        </span>
						  			<div *ngIf="articleProvider.expanded">
					  					<li *ngFor="let description of articleProvider.description" style="margin-left: 10px; ">
					  						<span *ngIf= " description=='' " style="font-style: italic;"> Sin descripción</span>			  						
					  						<span *ngIf= " description!='' "> {{description}}</span>			  						
					  					</li>
						  			</div>
						  		</div>												
								</div>
							</div>
							<div class="col-md-12" *ngIf="(subproductElement.element.kind == 'ingredient') && (!articleProviders || articleProviders.length == 0)">			
							  <label class="control-label">{{'recipes.composition.articleProviders' | translate}}</label>
						    <div class="selector grey-backround viewProviders" >
							     <div style="margin: 5px; padding-left: 5px; text-align: center;">
						  		 		<i style="font-style: italic;" aria-hidden="true"> {{'recipes.composition.noProvider' | translate}} </i>					  			
						  		</div>												
								</div>
							</div>
						</div>		
					</div>		
				</div>
			</form>
		</div>
	</div>
</div>
</div>
