<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-body">
				<h2 *ngIf="mode=='new'" class="tab-box-title">{{'provider.menu.addProvider'}}</h2>
				<h2 *ngIf="mode=='edit'&& provider" class="tab-box-title">{{'provider.menu.editProvider' | translate:{value: provider.commercialName} }}</h2>
				<h2 *ngIf="mode=='view'&& provider" class="tab-box-title">{{'provider.menu.viewProvider' | translate:{value: provider.commercialName} }}</h2>
        <a (click)="redirect()"><img alt="" class="pull-right" src="../assets/img/close.png" /></a>
        <button *ngIf="mode=='view'" type="button" (click)="editProvider()" class="btn green pointer">{{'buttonGeneric.edit' | translate}}</button>				
				<tabset class="tabbable-line">
					<tab heading="{{'provider.tabs.general' | translate}}">
						<provider-main (passRedirectOn)="redirectOn=$event"></provider-main>
					</tab>
					<tab *ngIf="mode!='new'" heading="{{'provider.tabs.articles' | translate}}" [active]="tab == 'articles'">
						<provider-articles  (passRedirectOn)="redirectOn=$event"></provider-articles>
					</tab>	
					<tab heading="{{'provider.tabs.quality' | translate}}">
						<provider-quality (passRedirectOn)="redirectOn=$event"></provider-quality>
					</tab>			
				</tabset>
			</div>
		</div>
	</div>
</div>
<p-confirmDialog acceptLabel="{{'buttonGeneric.yes' | translate }}" [closable]="false" width="425"></p-confirmDialog>
