<div *ngIf="allLocations" class="location-selector">
  	<ul style="list-style: none;">
  		<li *ngFor="let organization of allLocations" class="li-selector">
  			<span *ngIf="organization.companies.length > 0">
  				<span *ngIf="organization.expanded" (click)="organization.expanded = false" class=""><i class="fa fa-minus" aria-hidden="true"></i></span>
  				<span *ngIf="!organization.expanded" (click)="organization.expanded = true" class=""><i class="fa fa-plus" aria-hidden="true"></i></span>
  			</span>
  			<input *ngIf="organization.active" type="checkbox" [(ngModel)]="organization.checked" (click)="onClick($event, organization)" /><span *ngIf="organization.active">{{organization.name}}</span><span *ngIf="!organization.active">---</span>
  			<div *ngIf="organization.expanded">
  				<ul style="list-style: none;">
  					<li *ngFor="let company of organization.companies" class="li-selector">
  						<span *ngIf="company.businessUnits.length > 0">
  							<span *ngIf="company.expanded" (click)="company.expanded = false" class=""><i  class="fa fa-minus" aria-hidden="true"></i></span>
  							<span *ngIf="!company.expanded" (click)="company.expanded = true" class=""><i  class="fa fa-plus" aria-hidden="true"></i></span>
  						</span>
  						<input *ngIf="company.active" type="checkbox" [(ngModel)]="company.checked" (click)="onClick($event, organization, company)" />
  						<span *ngIf="company.active">{{company.name}}</span>
  						<span *ngIf="!company.active">---</span>
  						<div *ngIf="company.expanded">
  							<ul style="list-style: none;">
  								<li *ngFor="let businessUnit of company.businessUnits" class="li-selector">
  									<input *ngIf="businessUnit.active" type="checkbox" [(ngModel)]="businessUnit.checked" (click)="onClick($event, organization, company, businessUnit)"/><span *ngIf="businessUnit.active"> {{businessUnit.name}}</span>
  								</li>
  							</ul>
  						</div>
  					</li>
  				</ul>
  			</div>
  		</li>
  	</ul>
 </div>
<!--   <simple-notifications [options]="notificationOptions"></simple-notifications> -->