<div heading="Password">
	<h3 class="tab-box-title">{{'admin.user.form.changePassword' | translate}}</h3>
	<div class="row">
		<div class="col-xs-9">
			<div class="row">
				<div class="col-md-6" *ngIf="mode!='view'">
					<div class="form-group">
						<label for="password" class="control-label">{{'admin.user.form.password' | translate}} <span class="required"  *ngIf="mode=='new'"> * </span></label>
						<input for="password" class="form-control"  [(ngModel)]="password" name="password" type="password" pInputText>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6" *ngIf="mode!='view'">
					<div class="form-group">
						<label for="repeatpassword" class="control-label">{{'admin.user.form.repeatpassword' | translate}} <span class="required" *ngIf="mode=='new'"> * </span>
						</label>
						<input for="repeatpassword" class="form-control"  [(ngModel)]="repeatPassword" name="repeatpassword" type="password" pInputText>
					</div>
				</div>
			</div>
			<form>
				<div class="form-actions right">
					<button type="submit" (click)="changePassword()" [disabled]="!password || !repeatPassword" class="btn green">{{'buttonGeneric.changePassword' | translate}}
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<simple-notifications [options]="options"></simple-notifications>
