$main-color: #a0a127;
$control-color: #a0a127;

$purple-normal-1:   $main-color;
$purple-normal-2:   $main-color;
$purple-normal-3:   $main-color; //76378b
$purple-normal-4:   $main-color;
$purple-dark-2:     $main-color;
$background-mid:    #323232;
$background-light:  #efeff;
$purple-logo:       $main-color;

$menu-selection-highlight: #ffa0a0;
$menu-selection-hover: $main-color; //#863e70
$font-family: "Lato", sans-serif !default;;
$font-family-2: "Montserrat", sans-serif;
$title-color: $main-color;
