<div heading="Users">
  <div class="row">
    <div class="col-md-12">
      <h2 class="tab-box-title">{{'admin.tabs.user' | translate}}</h2>
   </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <search-box (onSearchEntered)="searchUsers($event)" [label]="searchBoxLabel" [inputText]="filterText"></search-box>
    </div>
    <div class="col-md-6">
      <a href="javascript:;" (click)="addUser()" class="btn default pull-right gold"> <i class="fa fa-plus"></i> {{'admin.user.addUser' | translate}}
      </a>
    </div>
  </div>
  <div class="table-scrollable">
    <table id="user-list" class="table table-hover">
      <thead>
      <tr>
        <th><div style="display: block; text-align:center;">#</div></th>
        <th></th>
        <th>
          <column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'admin.user.tableHead.firstName'" [value]="'firstName'" (onChange)="saveFilters()" ></column-sorter>
        </th>
        <th>
          <column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'admin.user.tableHead.lastName'" [value]="'lastName'" (onChange)="saveFilters()" ></column-sorter>
        </th>
        <th>
          <column-sorter [(sortField)]="sortField" [(sortOrder)]="sortOrder" [label]="'admin.user.tableHead.email'" [value]="'email'" (onChange)="saveFilters()" ></column-sorter>
        </th>
        <th>{{'admin.user.tableHead.active' | translate}} </th>
        <th> {{'buttonGeneric.actions' | translate}}</th>
      </tr>
      </thead>
      <tbody *ngFor="let user of allUsers;let i=index">
        <tr [class.text-muted]="!user.active" [class.active]="!user.active">
          <td (click)="viewUser(user._id)" class="pointer">
            <div style="display: block; text-align:center;">
              {{(currentPage-1)*itemsPerPage + i + 1}}
            </div>
          </td>
          <td (click)="viewUser(user._id)" class="pointer">
            <div style="display: block; text-align:center;">
              <img *ngIf="user.gallery" [src]="user.gallery.sizes[0].url" alt="" >
              <img *ngIf="!user.gallery" src="../../../assets/img/noImageCircle.png" alt="" >
            </div>
          </td>
          <td (click)="viewUser(user._id)" class="pointer">
            {{user.firstName}}
          </td>
          <td (click)="viewUser(user._id)" class="pointer">
            {{user.lastName}}
          </td>
          <td (click)="viewUser(user._id)" class="pointer">
            {{user.email}}
          </td>
          <td (click)="viewUser(user._id)" class="pointer">
            <span *ngIf="user.active">
              <i class="fa fa-check cd-gold" aria-hidden="true"></i>
            </span>
            <span *ngIf="!user.active">
              <i class="fa fa-times cd-gold" aria-hidden="true"></i>
            </span>
          </td>
          <td>
            <a href="javascript:;" (click)="editUser(user._id)" class="btn gold btn-sm btn-outline table-row-button">
              <i class="fa fa-pencil"></i> {{'buttonGeneric.edit' | translate}} </a>
            <a href="javascript:;" (click)="selectUserToEdit(user); confirmDeleteModal.show()" class="btn gold btn-sm btn-outline table-row-button">
              <i class="fa fa-trash"></i> {{'buttonGeneric.delete' | translate}} </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-6">
      <items-per-page [itemOptions]="[5,10,25,50,100]" [defaultOption]="itemsPerPage" (onItemSelected)="updateItemsPerPage($event)"></items-per-page>
      <span class="pagination-separator">|</span>
      <pagination-snippet [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" [totalItems]="totalItems"></pagination-snippet>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
        <pagination class="cd-pagination" [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage" [previousText]="'<'" [firstText]="'<<'" [lastText]="'>>'" [nextText]="'>'" [maxSize]="10" style="display: inline-block;" [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageHasChanged($event)" (numPages)="numPages = $event"></pagination>
      </div>
    </div>
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>

<!--confirm delete -->
<div bsModal #confirmDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="confirmDeleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{'admin.user.form.confirmDelete' | translate}}</h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="deleteUser()" class="form-horizontal" #deleteUserForm="ngForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-body">
                  {{'admin.user.form.confirmDeleteQuestion' | translate}}
              </div>
              <div class="form-actions">
                <div class="row">
                  <div class="col-md-offset-5 col-md-7">
                    <button type="submit" (click)="confirmDeleteModal.hide()" class="btn green">{{'buttonGeneric.delete' | translate}}
                    </button>
                    <button type="button" (click)="confirmDeleteModal.hide();" class="btn default">{{'buttonGeneric.cancel' | translate}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>